<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Croquetas de Arroz</title>
    <!-- Vinculando el archivo CSS -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Sección: Croquetas de Arroz -->
    <h1>Croquetas de Arroz</h1>
    
    <!-- Imagen de la receta -->
    <img src="../IMAG/Croqueta.jpg" alt="Croquetas de arroz" height="200" width="500">
    
    <!-- Lista de ingredientes -->
    <h2>Ingredientes</h2>
    <ul>
        <li>1/2 kilo de arroz Carolina</li>
        <li>1/2 docena de huevos de campo</li>
        <li>1/4 de cebolla</li>
        <li>Harina (la necesaria)</li>
        <li>Ajo a gusto</li>
        <li>Sal, pimienta y picante al gusto</li>
        <li>Aceite para freír</li>
    </ul>
    <!-- Preparación -->
<h2>Pasos para la preparación:</h2>
<ol>
<li>Poné a hervir el arroz, dejalo enfríar</li>
<li>Bati los huevos, agregale condimientos.</li>
<li>1Corta las cebollas, rehogalas con ajo.</li>
<li>Con lel arroz tibio, mezcla todo!!!!</li>
<li>Agregale harina hasta que quede una masa "chiclosa"</li>
<li>Frei en una sartén con aceite caliente, cucharas soperas, doralas y dejalas descansar para que se sequen. Y, a disfrutarlas !!!</li>
</ol>
<hr>
    <!-- Enlace para regresar -->
    <a href="../../Index.html">Ir a la página principal.html</a>
</body>
</html>
